@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200;400&display=swap');

body{
    font-family: 'Titillium Web', sans-serif;
    margin: 0px;
    background-color: black;

}

:root{
    --primary-color:#60A5FA;

}

.navigation {
    background-color: var(--primary-color);
    min-height: 10vh;
    color: black;
    align-items: center;
    margin: auto;
    border-bottom-right-radius: 1rem;
    border-bottom-left-radius: 1rem;
    padding: 1rem;
}

.navigation .nav-brand{
    margin: auto;
    text-align: center;
    max-width: fit-content;
    padding: 0.5rem;
    font-size: 2rem;
    font-weight :600;
}

.button{
    background-color: var(--primary-color);
    border-style: none;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    margin: auto;
    display: block;
    cursor: pointer;
    font-weight: bold;

}

.output-txt{
    color: white;
    text-align: center;
    padding: 0.5rem;

}


textarea{
    height: 10vh;
    width: 80%;
    display: block;
    margin: 1rem;
    padding: 1rem;
    border-radius: 1rem;

}

.container{
    margin: auto;
    max-width: 600px;
}
.output{
    border: 1px solid black;
    height: 10vh;
    width: 80%;
    display: block;
    margin: 1rem;
    padding: 1rem;
    border-radius: 1rem;
    background-color: white;

}

.footer{
    background-color: var(--primary-color);
    padding: 0.5rem;
    text-align: center;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}

img{
    max-height: 25vh;
    padding: 1rem 1rem;
    border-radius: 1.2rem;
    background-color: black;

}
